---
import ToggleThemeButton from "../ToggleThemeButton";
import NavLink from "../NavLink.astro";
import {HOMEPAGE_URL} from "../../config"
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl">
		<nav class="flex items-center text-base">
			<div class="flex-1"></div>
			<div class="items-center md:flex">
				<NavLink href={HOMEPAGE_URL}>Home</NavLink>
				<NavLink href="/blog">Blog</NavLink>
			</div>
			<div class="flex-1"></div>
			<ToggleThemeButton client:visible/>
		</nav>
	</div>
</header>

