---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Terminal/Content.astro';

---

<Layout >
	<div
		class="overflow-hidden shadow-2xl"
	>
		<Content><div>1</div></Content>
		
	</div>
</Layout>


